.list-wrapper {
    max-width: 700px;
    margin: auto;
}
.todo-item-container {
    background: #fff;
    border-radius: 8px;
    margin-top: 8px;
    padding: 16px;
    position: relative;
    box-shadow: 0 4px 8px grey;
}

.buttons-container {
    position: absolute;
    right: 12px;
    bottom: 12px;
}

button {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.completed-button {
    display: inline-block;
    background-color: #22ee22;
}

.remove-button {
    display: inline-block;
    background-color: #ee2222;
    margin-left: 8px;
}
.new-todo-form {
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px grey;
}

.new-todo-input {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 8px;
    width: 70%;
    outline: none;
}

.new-todo-button {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-left: 8px;
    width: 20%;
    color: #fff;
    background-color: #485fc7;
}

.completed-button {
    background-color: #00d1b2;
}
.remove-button {
    background-color: #ff9970;
}

